body{
	position: static;
	margin: auto;
	box-sizing: border-box;
	padding: auto;
}

div.col-2{
	position: static;
}

#navbar{
	    height:4rem;
	    max-width: 100%;
	    margin: auto;
	    background-color: #FDD7E4;
	    color: #660000;
	    position: static;
}

#logo{
		width:3rem;
		height: 3.5rem;
		max-width: 100%;
		margin: auto;
		margin-left:6rem;
		position: static;
}

#name{
		font-family: Monotype Corsiva;
		font-size:3rem;
		margin-top:1.2rem;
		letter-spacing:0.2rem;
}

#search{
		width:31.25rem;
		border-color: white;
		height: 2rem;
		margin-top:0.6rem;
}

#schbtn{
		height:2rem;
		width:2rem;
		margin-top:0.625rem;
}

#carousel{
		width:auto;
		height:25rem;
		margin-top:3.8rem;
}

#card1,#card2,#card3{
		margin: auto;
		margin-bottom: 8rem;
		margin-top:6.25rem;
		width:14rem;
		height: 18rem;
}

#card4, #card5,#card6{
		margin: auto;
		margin-bottom:8rem;
		width:14rem;
		height: 18rem;
}

font{
		font-family: Times New Roman;
		color:#660000;
}
#email{
		border-color: #000000;
		height:1.8rem;
		margin-top:0.625rem;
		border-radius:0.3rem;
		max-width: 50%;
		min-width: 25%;
}
#button-addon2{
		margin-right:25rem;
		background-color:#660000;
		color:#FFFFFF;
		margin-top:0.56rem;
		border-radius: 0.31rem;
		height: 1.9rem;
}
div.footer{
	    background-color: #FDD7E4;
	    height: 17.5rem;
}
@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
   width: 100%;
  }
}
#carousel{
	height: auto;
	width: auto;
}